nav {
    width: 100vw;
    height: 70px;
    min-width: 1024px;
    position: fixed;
    top: 0; 
    z-index: 10;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 19px;
    font-weight: 500;
}

.main-logo {
    width: 200px;
    height: 50px;
    padding-left: 5.55vw;
}

.page-links {
    display: flex;
    padding-right: 5.55vw;
    list-style: none;
    font-family: Karla;
    font-size: 20px;
    font-weight: bold;
    gap: 2.3vw;
    text-decoration: none; /* Remove underline */
    color: rgb(0, 0, 0); /* Set link color */
}

.page-links a {
    text-decoration: none; /* Remove underline */
    color: rgb(0, 0, 0); /* Set link color */
}

