*{
  margin: 0px;
}

.overview-container{
  z-index: 0;
  min-height: 444px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3.4vw;
  margin-top: 70px;
  background-color: #495E57
}

.overview-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 18.88vw;
}

.main-image{
    width: 522px;
    height: 432px;
    border-radius: 16px;
}

.overview-body h1 {
  margin-top: 14.86%;
    color: #F4CE14;
    font-size: 64px;
    font-family: 'Markazi Text', serif;
    font-weight: 600;
  }
  
.overview-body h2 {
    color: white;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
  }
  
.overview-body p {
  margin-top: 3.6%;
  width: 479px;
  height: 150px;
  font-size: 20px;
  font-family: 'Karla';
  font-weight: 300;
  line-height: 1.5em;
  text-align: justify;
  color: white;
  }

.overview-body button {
    width: 185px;
    height: 50px;
    margin-top: 4.73%;
    border-radius: 16px;
    background-color: #F4CE14;
    color: #333333;
    font-size: 18px;
    font-family: 'Karla';
    font-weight: bold;
    border: 0px;
    
}